.displayMiscible{
    min-height: 150vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.displayMiscible{
    display: flex;
    justify-content: center;
    align-items: start;
    margin-left: 15vw;
}
.mTitle{
  margin-bottom: 8vh;
}
.displayMiscibleWrapperImg{
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.mDisplay2{
  position: absolute;
  top: -28vh;
  right: -12vw;
}
.mDisplay3{
  position: absolute;
  bottom: -30vh;
  right: -18vw;
}
.newDivForPdf{
  position: relative;
}
  .linkMiscible{
    position: absolute;
    bottom: 1px;
    right: 3vw;
  }
@media only screen and (max-width: 1185px) {
  .displayMiscible{
    margin: 0;
    margin-left: 3vw;
  }
  .mTitle{
    max-width: 300px;
  }
  .mDisplay1{
    max-width: 350px;
  }
  .mDisplay2{
    max-width: 200px;
    left: 1vw;
    top: 20vh;
  }
  .mDisplay3{
    max-width: 200px;
    right: -8vw;
  }
}