.nuitDisplayImg{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
}

.nuitDisplayImg img{
    width: 50%;
}

@media only screen and (max-width: 1185px) {
    .nuitDisplayImg{
        align-items: start;
    }
    .nuitDisplayImg img{
        max-width: 200px;
    }
}