@media only screen and (max-width: 1000px) {
    .LogoWorksMobile{
        display: block;
        position: absolute;
        min-height: 600px;
        top: 18vh;
        right: -201px;
    }
    .h1MenuWorkMobile{
        color: #000;
        font-family: 'FormaDJRDisplay-Bold';
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 10%;
        letter-spacing: 0.72px;
        text-align: right;
        margin-right: 3rem;
    }
    .h1MenuWorkCoolFontMobile{
        color: #000;
        font-family: Compendium;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        text-align: right;
        line-height: 0%;
        margin-right: 2rem;
    }
    .worksPageWrapper {
        width: 100vw;
        height: 130vh;
        margin: 0;
        padding: 0;
        display: block; /* Not flex, if you don't want columns */
        background-color: white; /* Just for testing visibility */
      }

    .workLeftWrapper {
        width: 100%;
        padding: 0;
        margin: 0;
        text-align: left;
    }

    .workLeftWrapper ul {
        list-style: none;
        margin: 0;
        padding: 1rem;
        text-align: left;
    }
    .workLeftWrapper li{
        margin-bottom: 1.4rem;
    }
    .workLeftWrapper p{
        margin-bottom: 0 !important;
    }
    .titleWorksMenu{
        color: #000;
        font-family: 'FormaDJRDisplay-Bold' !important;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.4px;
        text-transform: uppercase;
    }
    .worksMenuWrapperOnWorksPage{
        bottom: -17rem;
        left: 1rem;
        padding-bottom: 3vh;
    }
    .LogoWorks{
        display: none;
    }
    .h1MenuWork{
        display: none;
    }
    .h1MenuWorkCoolFont{
        display: none;
    }
    .h1MenuWorkMobile{
        display: flex;
        justify-content: flex-end;
        text-align: right;
        margin-top: 11vh;
    }
    .h1MenuWorkCoolFontMobile{
        display: flex;
        justify-content: flex-end;
        text-align: right !important;
    }
}
    .subTxt{
        color: #000;
        font-family: "Forma DJR Display";
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.32px;
        text-transform: uppercase;
        margin-left: 14vw !important;
        font-size: 2px !important;
    } 